/* ### CSS VARIABLES ### */

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);

  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

/* ### GENERAL STYLING ### */

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: var(--grey-900);
  color: var(--white);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

/* ### UTILITIES ### */

.flex-spacer {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

/* ### SOCIAL-LINKS-PROFILE ### */

.social-links-profile {
  background-color: var(--grey-800);
  text-align: center;
  padding: 2.5rem;
  width: 400px;
  min-width: 317px;
  border-radius: 15px;
}

.social-links-profile img {
  max-width: 85px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.7rem;
}

.social-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.social-location {
  color: var(--green);
  font-size: 0.925rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}

.social-description {
  color: hsl(0, 0%, 87%);
  font-weight: 400;
  font-size: 0.925rem;
  margin-bottom: 1.6rem;
}

@media (max-width: 375px) {
  .social-links-profile {
    padding: 1.4rem;
  }
}

.social-links-profile nav {
  --spacer: 1rem;
}

.social-links-profile a {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  background-color: var(--grey-700);
  font-weight: 700;
  border-radius: 7px;
  font-size: 0.925rem;
}

.social-links-profile a:hover {
  color: var(--grey-900);
  background-color: var(--green);
}

.social-links-profile a:focus {
  outline: 5px solid var(--white);
  color: var(--grey-900);
  background-color: var(--green);
}
